<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Loginchecker</servlet-name>
        <servlet-class>controller.Loginchecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationChecker</servlet-name>
        <servlet-class>controller.RegistrationChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileChecker</servlet-name>
        <servlet-class>controller.ProfileChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>controller.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProflie</servlet-name>
        <servlet-class>controller.deleteProflie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Loginchecker</servlet-name>
        <url-pattern>/Loginchecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationChecker</servlet-name>
        <url-pattern>/RegistrationChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileChecker</servlet-name>
        <url-pattern>/ProfileChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProflie</servlet-name>
        <url-pattern>/deleteProflie</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
